# ============================================
# DESARROLLO LOCAL (docker-compose.yml)
# ============================================
# Estas variables se usan cuando corres: docker compose up

# PostgreSQL LOCAL
POSTGRES_DB=piedrazul
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
DB_HOST=db
DB_PORT=5432

# Keycloak LOCAL
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_JWK_URI=http://keycloak:8080/realms/piedrazul/protocol/openid-connect/certs
KEYCLOAK_REALM=piedrazul

# Frontend LOCAL
VITE_API_URL=http://localhost:8080/api
VITE_KEYCLOAK_URL=http://localhost:8180
VITE_KEYCLOAK_CLIENT=piedrazul-api
VITE_KEYCLOAK_SECRET=lU5PljMWMfq0sM9rTIJeNFgjvYVHGQDa


# ============================================
# PRODUCCIÓN EN RAILWAY (docker-compose.prod.yml)
# ============================================
# Estas variables SOLO se usan en Railway
# NO descomentar en desarrollo local

# DATABASE_URL=jdbc:postgresql://host:puerto/db
# DB_USERNAME=usuario_railway
# DB_PASSWORD=password_railway

# VITE_API_URL=https://tu-dominio-backend.com/api
# VITE_KEYCLOAK_URL=https://tu-dominio-keycloak.com
# VITE_KEYCLOAK_SECRET=tu-secret-produccion
